[2016-12-05 08:04] cchristelis opened #1 "QgsNetworkAccess"
# Problem

We need to access the qgis network interface to make our call through potential firewalls etc.

# Proposed solution

Create an abstraction layer of a mixin class that has simple wrappers around the QgsNetworkAccess class.

[2016-12-05 08:08] cchristelis opened #2 "Login user"
# Problem

Users need to be logged in to the Cadasta to get access to their data.

# Proposed solution

Build a class, that uses the Network mixin to initiate a session to cadasta.

[2016-12-05 09:35] meomancer commented on #2
@cchristelis
is there any account that i could use?
i tried register,and when activate it, it gaves error
[code]

[2016-12-05 11:15] cchristelis commented on #2
just create a new one?

[2016-12-12 21:22] timlinux opened #3 "Please don't include .pyc files in the source tree..."

[2016-12-14 02:21] ismailsunni opened #4 "Setup Travis"
We need to setup travis as our CI

[2016-12-14 02:23] ismailsunni opened #5 "Apply gitflow"
We need to apply git flow to this repository also. To do:

- [x] Create develop branch as default
- [x] Protect master branch from direct push / merge

I don't have permission to do those task, perhaps you can help @cchristelis

[2016-12-14 02:35] ismailsunni opened #6 "Use get_ui_class for ui file."
For easier development, I suggest we use similar approach to manage the .ui file like in InaSAFE project. In InaSAFE project, we do like this:

- Adapt `get_ui_class` method from here https://github.com/inasafe/inasafe/blob/develop/safe/utilities/resources.py#L82
- Use that method to load the python UI class on runtime like in here: https://github.com/inasafe/inasafe/blob/develop/safe/gui/widgets/

[2016-12-14 02:37] ismailsunni opened #7 "Create Wiki page for Development Setup"
We need to document how we setup the development environment for this project. See some references in:
- https://github.com/inasafe/inasafe/wiki/Development-on-OSX
- https://github.com/inasafe/inasafe/wiki/Development-on-Linux

cc @meomancer @dimasciput

[2016-12-14 13:05] Gustry opened #11 "Use PyQT from the QGIS package"
In order to move quicker to QGIS3 in a few weeks, please use `from qgis.PyQt.QtCore/QtGui` instead of using `from PyQt4.QtCore/QtGui`.

[2016-12-14 13:07] Gustry opened #12 "Use the fake iface provided by QGIS"
instead of using our own internal fake `iface`, we should use the one provided by QGIS.

`from qgis.testing.mocked import get_iface`

You may need to run `pip install mock`.

[2016-12-15 10:58] ismailsunni commented on #3
Closed in #8

[2016-12-15 10:58] #3 closed, assigned to nobody

[2016-12-15 17:37] timlinux commented on #6
See https://github.com/inasafe/inasafe/wiki/Coding-Standards#qt-guidelines for more detailed explanation of how run-time compilation of UI files is done.

[2016-12-16 11:11] ismailsunni opened #15 "Create Repository to Test the Plugin"
We should have self repository to upload the plugin so that user / tester can test it regularly / easily.

References:
- We can use similar to Nightly InaSAFE: https://github.com/inasafe/nightly.inasafe.org

[2016-12-19 02:03] #1 closed, assigned to dimasciput

[2016-12-19 02:03] meomancer commented on #1
fixed at #10

[2016-12-19 02:04] #2 closed, assigned to meomancer

[2016-12-19 02:04] meomancer commented on #2
fixed at #10

[2016-12-19 02:04] #6 closed, assigned to nobody

[2016-12-19 02:04] meomancer commented on #6
fixed #10

[2016-12-19 02:04] #11 closed, assigned to nobody

[2016-12-19 02:04] meomancer commented on #11
fixed #10

[2016-12-19 02:23] #5 closed, assigned to nobody

[2016-12-19 03:20] ismailsunni opened #16 "Create Option UI"
Create user interface for options. See the wireframe below:
![setting ui](https://cloud.githubusercontent.com/assets/1421861/21300184/5c675d34-c5d4-11e6-8ee6-be929a9ee36d.png)

[2016-12-19 08:18] Gustry opened #19 "PEP8 should be compulsory on travis"
Travis must check if PEP8 is ok.

You can copy/paste this file :
https://github.com/inasafe/inasafe/blob/develop/safe/test/test_pep8.py

[2016-12-19 08:42] dimasciput commented on #4
Added in #17

[2016-12-19 08:42] #4 closed, assigned to dimasciput

[2016-12-19 08:53] ismailsunni opened #21 "Create utilities method for accessing Cadasta"
Here are the list of needed utitlities method to make the plugin works:

- [x] Login / authentication routine
- [x] Fetch available organisations (dimas)
- [x] Fetch available projects (irwan)
- [x] Fetch project
- [x] Push dataset
- [x] Pull dataset

Make sure all the methods have unit test.

[2016-12-19 08:56] ismailsunni opened #22 "Create wizard for project creation"
See the wireframe below for the guidance:

![project_creation_wizard](https://cloud.githubusercontent.com/assets/1421861/21306429/8745e938-c603-11e6-8f0b-6eef8226102d.png)

[2016-12-19 08:59] ismailsunni opened #23 "Create wizard for updating a project"
See wireframe below for the guidelines:
![project_update_wizard](https://cloud.githubusercontent.com/assets/1421861/21306525/fbf21536-c603-11e6-8f1f-fc6433d93520.png)

[2016-12-19 09:00] ismailsunni opened #24 "Create wizard for downloading the project"
See the wireframe below for guidance:
![project_download_wizard](https://cloud.githubusercontent.com/assets/1421861/21306575/4509c048-c604-11e6-87e0-e29d5211e98c.png)

[2016-12-19 09:32] ismailsunni opened #25 "Icons"
We need to create some icon or logo for:

- [x] plugin logo
- [x] setting icon
- [x] project creation icon
- [x] project update icon
- [x] project download icon

[2016-12-19 10:34] #16 closed, assigned to meomancer

[2016-12-19 12:07] timlinux commented on #21
I would add:

- [x] Create a new project (and upload the questionnaire to go with it)

[2016-12-19 12:09] timlinux opened #27 "Tests should fail if there are PEP8 / Pylint errors"

[2016-12-19 13:10] Gustry commented on #27
Duplicate https://github.com/kartoza/cadasta-qgis-plugin/issues/19

[2016-12-19 13:10] #27 closed, assigned to dimasciput

[2016-12-20 08:47] #19 closed, assigned to dimasciput

[2016-12-21 10:38] ismailsunni opened #40 "Setup Translation Framework"
We need to setup translation framework. I suggest to use Transifex for the translation tools. You can use this https://github.com/inasafe/inasafe/wiki/Internationalisation as reference.

[2016-12-23 03:19] #24 closed, assigned to meomancer

[2016-12-23 06:09] #40 closed, assigned to meomancer

[2016-12-23 08:09] timlinux opened #43 "Duplicate menu entries"
![screen shot 2016-12-23 at 10 07 19 am](https://cloud.githubusercontent.com/assets/178003/21449621/d140ea64-c8f7-11e6-82b1-0ba6a6d44bbd.png)

[2016-12-23 08:24] ismailsunni opened #44 "Setup Transifex for Translation"
We need to have Transifex project to do the translation easier. Low priority though.

[2016-12-23 08:25] ismailsunni commented on #43
I have this problem also.

[2016-12-23 09:48] ismailsunni opened #45 "Create About or Help Dialog"
We need help dialog or at least about dialog to point the user what's the plugin about and how to use it. No need to have a help in the wizard, since it should be self-explanatory.

[2016-12-23 21:36] timlinux opened #46 "Dialogs should always have a top level layout"
Bad:

![qgis](https://cloud.githubusercontent.com/assets/178003/21462758/5b5ad1f4-c968-11e6-8d1a-549061314c9d.gif)

Good:

![qgis](https://cloud.githubusercontent.com/assets/178003/21462767/80a745a0-c968-11e6-848f-c594506c6180.gif)

To fix:

Open designer
Select the background of the dialog
Apply a grid layout as the top level layout
Resize the dialog to a reasonable default size
Save it
Live long

[2016-12-26 06:54] timlinux opened #48 "Need to apply Cadasta CI guidelines to all dialogs and user facing elements"
Please see the attached document which provides their logo and schemes. We should include their logo onto each dialog. Take a look at how we did this in InaSAFE for an example of the user experience we might provide:

![screen shot 2016-12-26 at 8 52 39 am](https://cloud.githubusercontent.com/assets/178003/21477252/ba806aea-cb48-11e6-89a0-40d6c55abab7.png)

![screen shot 2016-12-26 at 8 52 50 am](

[2016-12-26 06:54] timlinux commented on #48
Also please update the plugin icon accordingly.

[2016-12-26 07:00] #46 closed, assigned to meomancer

[2016-12-26 21:19] timlinux commented on #25
See also #48 which supplies the CI materials.

[2016-12-26 21:20] timlinux commented on #22
And note again that there should be an additional panel for selection of a questionairre.

[2016-12-26 21:21] timlinux commented on #7
Also copy coding standards doc to there

[2016-12-26 21:22] timlinux opened #50 "We need a license file"
License should be GPL V2 or greater I think. License should also be show in the about dialog as well as mention that the work is copyright 2016 to Cadasta.

[2016-12-27 19:07] timlinux opened #53 "Password and username seem to be switched in options"
![screen shot 2016-12-27 at 9 01 23 pm](https://cloud.githubusercontent.com/assets/178003/21506347/20030eba-cc78-11e6-967f-a3a10918d82f.png)

Entering my password in the username and my username in the password does **NOT** test successfully either so I think there is more wrong than just needing to switch the controls around....

I did verify my credentials work on the web site.

Can you also con

[2016-12-28 01:39] meomancer commented on #53
it is fixed in : https://github.com/kartoza/cadasta-qgis-plugin/pull/42
i changed to stacked widget

[2016-12-28 08:37] #43 closed, assigned to meomancer

[2016-12-28 08:39] ismailsunni opened #54 "Add Script to Package the Plugin"
Note:
Reference : https://github.com/inasafe/inasafe/wiki/Preparing-a-release

We can adapt the script to release:
- https://github.com/inasafe/inasafe/blob/develop/scripts/release.sh

[2016-12-28 10:13] timlinux commented on #54
S/inasafe/cadasta/ in the script

[2016-12-28 22:41] timlinux opened #55 "Dont break HIG"
Please see https://github.com/inasafe/inasafe/wiki/human-interface-guidelines

![screen shot 2016-12-29 at 12 38 24 am](https://cloud.githubusercontent.com/assets/178003/21533045/760f3d8c-cd5f-11e6-9f53-d61643738b6a.png)

save -> Save

All labels should have an initial capital and then lower case thereafter...

[2016-12-28 22:44] timlinux commented on #53
@meomancer not sure how the stacked widget relates to this dialog? I still can't log in using my credentials though. Can you share what URL you are using to login in with ?

[2016-12-29 02:42] #53 closed, assigned to meomancer

[2016-12-29 03:40] #55 closed, assigned to meomancer

[2016-12-29 07:26] meomancer commented on #25
@ismailsunni @timlinux
on CI materials, there is no project creation, update and download icon
should i ask cadasta team?

[2016-12-29 08:42] meomancer commented on #53
@timlinux it is fixed at #42
i think you can't login because of username input that is have password type is actually for password.
the position was arranged when changing to linear layout

you could use: kartoza.demo/demo.kartoza1! with that https://demo.cadasta.org/

[2016-12-29 10:16] ismailsunni commented on #25
@meomancer just ask them first, if they don't supply it just make a simple icon for it. For example cadasta icon then overlay with creation symbol, or update symbol, or download arrow symbol.

[2017-01-02 03:22] #12 closed, assigned to Gustry

[2017-01-02 08:45] dimasciput commented on #23
This is for updating project basic information : https://github.com/kartoza/cadasta-qgis-plugin/pull/67

I'm still confused on how to update the locations/spatial data.

[2017-01-04 04:05] meomancer commented on #21
@timlinux what are the question for the questionnaire?
and there is no api to save questionnaire. Should i ask cadasta team?

[2017-01-04 04:06] meomancer opened #71 "Add Questionnaire"

[2017-01-04 11:32] timlinux commented on #21
Questionaire is basically a spreadsheet with extra columns that the user can dynamically add to the data model.  See https://docs.cadasta.org/en/09-XLSForms.html

And yes please use the main Cadasta gitter channel to ask about this kind of stuff (after googling yourself first and asking in Kartoza team second so that we dont waste their time asking obvious stuff).

[2017-01-05 00:47] ismailsunni opened #72 "UX Suggestions"
After finishing upload, perhaps we can remove the notes under the progress bar since it gives different information with the one above the progress bar.
Perhaps we can also make the text or progress bar bigger to make it more readable and less wasting space.
![screen shot 2017-01-05 at 07 32 18](https://cloud.githubusercontent.com/assets/1421861/21664656/85787426-d31a-11e6-84f5-61817b3cdfda.png)

[2017-01-05 04:13] #45 closed, assigned to meomancer

[2017-01-05 14:45] ismailsunni commented on #7
@meomancer can you create wiki for Linux one? I have done for OSX and coding standard. Thanks

[2017-01-18 10:06] cchristelis opened #77 "Contact table remove"
# Problem

When we remove a contact from the middle or beginning of the contact table, an error occurs.

# Proposed solution

Fix bug and write tests to catch this error when removing an entry from the top, bottom and middle of the list.

[2017-01-23 09:06] #77 closed, assigned to nobody

[2017-01-23 09:12] meomancer commented on #48
i think this issue is done (client was satisfied with the UI)

[2017-01-23 09:12] #48 closed, assigned to meomancer

[2017-01-23 10:57] dimasciput commented on #22
Got an issue on this, still asking the cadasta guy

I tried to create a new party using this API : https://platform-staging-api.cadasta.org/api/v1/organizations/follow-the-light/projects/ftl18/parties/
This is the POST body data
[code]
And I got this result :
[code]

[2017-01-23 11:02] dimasciput commented on #22
Got a response, he said that it tries to validate the “name” field in "attributes" field and if you haven’t created the questionnaire that defines the name field if fails, and if you leave “attributes” empty it should work.

So basically we need to upload questionnaire first before mapping the "attributes", I think I will remove/hide "attributes" field for now and let them test it.

[2017-01-23 11:09] cchristelis commented on #22
@dimasciput and @meomancer, so every attribute that is not a default, will end up in the questionnaire.

[2017-01-23 20:47] cchristelis opened #80 "Private repository"
# Problem

It might be a bad idea to put an alpha version of the plugin on a public repo.

# Proposed solution

Make a private repository like: http://nightly.inasafe.org

[2017-01-24 01:13] ismailsunni commented on #80
Duplicate in #15

[2017-01-24 01:13] #80 closed, assigned to meomancer

[2017-01-25 02:35] #72 closed, assigned to meomancer

[2017-01-27 10:44] Gustry opened #84 ""from qgis.PyQt import ..." might be broken"
This kind of import of PyQT using `from qgis.PyQt.` seems to be broken on some machines.

I think we will have to rollback to `from PyQt4.`

A string replacement from `from qgis.PyQt.` to `from PyQt4.` will do the trick

[2017-01-30 08:24] #21 closed, assigned to dimasciput, meomancer

[2017-01-30 08:26] cchristelis commented on #22
This ticket will be finished by #71.

[2017-01-30 08:26] #22 closed, assigned to dimasciput

[2017-01-30 08:27] cchristelis commented on #23
This is done except for the Questionnaire, which will be followed up in #75.

[2017-01-30 08:27] #23 closed, assigned to dimasciput

[2017-01-30 08:29] cchristelis commented on #25
Waiting on cadasta to provide this.

[2017-01-30 08:33] #54 closed, assigned to meomancer

[2017-02-01 08:54] meomancer opened #85 "Plugin error in QGIS version 2.8"
# Problem
Oliver's question:

it seems it is related with : https://github.com/kartoza/cadasta-qgis-plugin/issues/84

# Solution
check it in 2.8 and try to fix it

[2017-02-01 08:55] oliverroick commented on #85
I can confirm that `from qgis.PyQt import ...` caused problems with 2.8

[2017-02-01 09:16] Gustry commented on #85
Note that QGIS 2.8 is not supported anymore by QGIS. We work with both QGIS 2.14 and 2.18 for now.

[2017-02-01 10:30] ismailsunni commented on #85
@meomancer you can also set the minimum QGIS version here https://github.com/kartoza/cadasta-qgis-plugin/blob/develop/metadata.txt#L11

[2017-02-03 03:42] meomancer opened #86 "Implement search/filtering when downloading"
# Problem
Oliver's question :

# Solution
Because api doesn't provide filter (except permission filter), but we can get it based on organization or from it's user

First solution:
- make input filters for organization and username and add as parameter when check it
- maybe also add filter using project name using autocomplete to just show matched project

secondly:
get all available projects, then

[2017-02-03 03:47] meomancer opened #87 "Confusing update wizard"
# Problem
Oliver's question:

It seems that it is different with mockup
see : https://github.com/kartoza/cadasta-qgis-plugin/issues/23

[2017-02-03 03:49] meomancer opened #88 "Parties get joined to location although no relationship in table"
Oliver's question

[2017-02-03 03:50] meomancer opened #89 "Download and join relationship and party attributes"
Oliver's question:

[2017-02-03 03:59] meomancer opened #90 "about attributes in JSON format"
# Problem
Oliver's question:

# Solution
Yes, we can parse it. Although for geojson, the correct way is bring all of attributes json to just in properties. So it is separate properties.

[2017-02-03 05:55] cchristelis commented on #87
So if there is a project already loaded in memory it should use that project rather than try and download a new one? Perhaps we should require the user to use the downloader before the wizard starts?

[2017-02-03 05:56] cchristelis commented on #85
@oliverroick, are you happy with use supporting  >= 2.14?

[2017-02-03 09:08] #84 closed, assigned to meomancer

[2017-02-03 09:10] oliverroick commented on #85
Supporting 2.14 and upwards is ok. 2.14 is the current LTS after all.

[2017-02-03 10:38] meomancer commented on #7
https://github.com/kartoza/cadasta-qgis-plugin/wiki/Development-on-Linux

[2017-02-04 22:31] timlinux commented on #90
@cchristelis This sounds like the thing I flagged with you guys where the JSON raw value were not being split out into their own fields.....it is the same issue @meomancer ?

[2017-02-06 09:01] cchristelis commented on #90
exactly @timlinux. So @meomancer, we need to convert from json to attributes table and vice versa.

[2017-02-07 03:00] #7 closed, assigned to meomancer

[2017-02-08 09:34] #85 closed, assigned to dimasciput

[2017-02-08 15:48] oliverroick commented on #89
Regarding our discussions this morning about the m:n-relationships to relationships and parties:

One thing that came to my mind that might help in this case is thinking of relationship and party data as CSVs. In QGIS, you can add CSV files to your list of layers and view and edit like any other attribute table, they are just not shown on the map. This is the way we handle this problem in exports:

[2017-02-09 02:27] dimasciput opened #95 "Download and save basic information of project"
- In project downloader menu, user can choose any public project to download.
- When user download authorized project, the update menu will be visible.
- Save basic information ( url, desc, etc ).

[2017-02-09 02:27] dimasciput commented on #89
Thanks @oliverroick , we will look into it today.

[2017-02-09 02:31] dimasciput opened #96 "Update the update wizard"
- Remove project downloader in update wizard
- List downloaded project with update permission
- Upload basic and spatial information in one page

[2017-02-09 03:28] #90 closed, assigned to meomancer

[2017-02-09 08:24] #88 closed, assigned to dimasciput

[2017-02-09 08:26] cchristelis opened #100 "Memory layers with multiple types"
# Problem

The cadasta projects have a mix of data. We need to handle point, polygon and multipolygon. In shp export cadasta uses 3 shp files to handle this. We need to handle this in QGIS as well.

[2017-02-09 08:28] cchristelis commented on #95
@dimasciput, please also allow users to update projects when they create new projects.

[2017-02-09 08:32] cchristelis opened #101 "Download plugin"
# Problem

We should host our plugins at plugins.kartoza.com.

[2017-02-10 01:58] #25 closed, assigned to meomancer

[2017-02-10 08:37] dimasciput commented on #96
Fixed in https://github.com/kartoza/cadasta-qgis-plugin/pull/102

[2017-02-10 08:37] #96 closed, assigned to dimasciput

[2017-02-10 08:39] dimasciput commented on #89
Hi @oliverroick I addressed this issue in https://github.com/kartoza/cadasta-qgis-plugin/pull/102 with different layer for relationships and parties, here's the screencast :

![cadasta](https://cloud.githubusercontent.com/assets/1979569/22819924/17e04c96-efa7-11e6-9df9-e05002072d53.gif)

[2017-02-10 08:41] oliverroick commented on #89
Looks good! Nice work.

[2017-02-10 08:46] #89 closed, assigned to dimasciput

[2017-02-10 09:39] #95 closed, assigned to meomancer

[2017-02-10 12:22] #50 closed, assigned to meomancer

[2017-02-10 13:07] #71 closed, assigned to meomancer

[2017-02-13 06:41] #101 closed, assigned to dimasciput, cchristelis

[2017-02-16 07:38] meomancer opened #105 "Update project is greyed"
# Problem
Oliver's question:

[2017-02-16 07:39] meomancer opened #106 "Party attributes from questionnaire is not shown"
# Problem
Oliver's question:

[2017-02-16 07:40] meomancer opened #107 "Just one type geometry is shown"
# Problem
Oliver's question:

[2017-02-16 07:40] meomancer opened #108 "Can’t select party type"
# Problem
Oliver's question:

[2017-02-16 07:41] meomancer opened #109 "remove unneeded attribute"
# Problem
Oliver's question:

[2017-02-22 04:27] #105 closed, assigned to dimasciput

[2017-02-22 05:08] #109 closed, assigned to dimasciput

[2017-02-22 06:38] dimasciput commented on #87
Update wizard has been updated

[2017-02-22 06:38] #87 closed, assigned to nobody

[2017-02-22 07:50] #106 closed, assigned to dimasciput

[2017-02-22 12:49] #100 closed, assigned to dimasciput, meomancer

[2017-02-22 12:49] #107 closed, assigned to nobody

[2017-02-27 14:26] oliverroick opened #116 "Party attributes are not downloaded"
When I download a project for editing, party attributes don't show up in the parties table. There is a field `attributes` but it's empty. I used my [Leipzig Project](https://platform-staging-api.cadasta.org/organizations/olivers/projects/leipzig/) for testing.

I would expect that all attributes for a party are present; with each attribute in its own separate field.

[2017-02-27 15:50] dimasciput commented on #116
Hi @oliverroick Can you share the account for that project? So we can download and test it.

[2017-02-27 15:52] oliverroick commented on #116
No I won't share my account with you ;) But I can add you to that project if you give me the username of your account. Send it via email though

[2017-02-27 16:00] dimasciput commented on #116
Great! Email sent.

[2017-03-01 03:00] dimasciput commented on #116
@oliverroick can you test the plugin again, I uploaded in plugins.kartoza.com with version 1.0.3

[2017-04-06 18:02] SteadyCadence opened #123 "Main Menu (Contact) :: Does not show contacts unless click "Update Project""
As a user, when I click the "contact" option on the main menu of the plugin, nothing shows up.

The project that I am using has contact information and so I would expect the name and email of the contact to show up.

Workaround: Clicking "update project" brings in the contact info.

[2017-04-06 18:04] SteadyCadence opened #124 "Main Menu :: Remove "Create Project" option?"
The "Create Project" option defaults to only be the required questions in Cadasta.  There is no way to submit additional values or questions through this QGIS option.

I think we should remove it.

[2017-04-06 20:52] SteadyCadence commented on #15
I think this has been done. I am closing this issue.

[2017-04-06 20:52] #15 closed, assigned to meomancer

[2017-04-06 20:53] SteadyCadence commented on #116
This works now.

[2017-04-06 20:53] #116 closed, assigned to nobody

[2017-04-06 20:55] SteadyCadence commented on #108
This brings up a larger discussion.  With the current workflow, a user has to join both the relationships and party files to the location files (which can be up to three).  It's a little bit of work to simply get all of the fields in one file.  It would be nice if we could automatically have those JOINs in place.  Is that possible?

[2017-04-06 20:56] SteadyCadence commented on #86
This would be super useful... to have a filtering option when downloading data with the Cadasta plugin.

[2017-04-18 21:36] wonderchook opened #125 "Title Cut off in Create New Project"
The top title "Cadasta Step by Step" is cut off when creating a new project.

![image](https://cloud.githubusercontent.com/assets/67992/25154174/6bc2af6c-2444-11e7-98ed-2ce61785d0e0.png)

[2017-04-18 21:37] wonderchook opened #126 "Project URL Should not be Required"
Currently when creating a project "Project URL" is a required field. This should be optional.

[2017-04-18 21:43] cchristelis commented on #125
I'm not able to reproduce this on my machine. @dimasciput perhaps check on a non-mac device as @wonderchook is using WIndows...

[2017-04-18 21:45] cchristelis commented on #126
@wonderchook, could you assign this to @dimasciput please, it seems like I don't have adequate​ permissions.

[2017-04-18 21:56] wonderchook opened #127 "Fail gracefully on upload of layer"
If you upload a layer without the required fields

2017-04-18T14:38:35	1	Traceback (most recent call last):
			  File "C:/Users/Admin/.qgis2/python/plugins\cadasta-qgis-plugin\cadasta\gui\tools\wizard\step_project_creation03.py", line 152, in processing_data
			    self.upload_project()
			  File "C:/Users/Admin/.qgis2/python/plugins\cadasta-qgis-plugin\cadasta\gui\tools\wizard\step_project_creati

[2017-04-18 21:57] wonderchook opened #128 "More detailed error messages"
When a record fails to upload it just says error. More information would be helpful. Such as the error from the api (if there is one) and which record failed.

![image](https://cloud.githubusercontent.com/assets/67992/25154851/35ee657c-2447-11e7-9857-148f91ccb0d1.png)

[2017-04-18 21:57] wonderchook commented on #128
@oliverroick is there an error returned more than a 400?

[2017-04-19 02:10] clash99 opened #129 "User not signed in is able to view public projects"
I've installed the Cadasta QGIS plug-in today and was never prompted for a username or password.  I can see all the projects in demo.  It seems like I should have had to enter credentials to access only my projects.

My Cadasta > Options screen:

<img width="880" alt="screenshot 2017-04-18 21 07 46" src="https://cloud.githubusercontent.com/assets/1119621/25160374/53010258-247b-11e7-9358-297dc9c791

[2017-04-19 02:14] clash99 opened #130 "Projects list dropdown ordering"
Project dropdown has strange ordering.  Seems to be alpha with capitals and then lowercase after.  Can this just be A-Z?

<img width="889" alt="screenshot 2017-04-18 14 34 02" src="https://cloud.githubusercontent.com/assets/1119621/25160472/cbdc5772-247b-11e7-9e56-a118c86adf4f.png">

[2017-04-19 02:17] clash99 opened #131 "Close button on About not working"
Close button on the About modal is not working.

<img width="662" alt="screenshot 2017-04-18 21 16 42" src="https://cloud.githubusercontent.com/assets/1119621/25160566/63c625c2-247c-11e7-873b-6fe895b20f4f.png">

[2017-04-19 02:27] dimasciput commented on #129
I think those are public projects, you will able to see it without having to login first.

[2017-04-19 02:31] clash99 opened #132 "Logo is skewed and doesn't match our branding"
The logo appears to be too tall and skinny and doesn't adhere to our branding guidelines.

Too tall and skinny:
<img width="879" alt="screenshot 2017-04-18 21 18 47" src="https://cloud.githubusercontent.com/assets/1119621/25160735/7488448e-247d-11e7-934b-527f8f0d45a1.png">

Brand guideline:
<img width="1245" alt="screenshot 2017-04-18 21 22 07" src="https://cloud.githubusercontent.com/assets/11196

[2017-04-19 02:37] clash99 opened #133 "Make primary buttons have visual prominence"
Right now all the buttons on the modals are small and equal.

**Recommendations:**
- Make cancel a link if possible
- Make Back and Next larger
- Increase space between Back and Next

Current situation:

<img width="879" alt="screenshot 2017-04-18 21 18 47" src="https://cloud.githubusercontent.com/assets/1119621/25161016/331b620e-247f-11e7-9ab5-5608cc29692d.png">

Prefer something more similar to

[2017-04-19 02:41] clash99 opened #134 "Correct typos in main screens"
Collecting typos here for main screens that need fixed.

**1)  "yout" should be "your"**
<img width="879" alt="screenshot 2017-04-18 21 39 02" src="https://cloud.githubusercontent.com/assets/1119621/25161089/972c3d68-247f-11e7-9ada-e6f870b89f12.png">

[2017-04-19 04:24] #124 closed, assigned to nobody

[2017-04-19 04:25] SteadyCadence commented on #126
The required "Project URL" shows up a few times-- in the "Create Project" window and the "Update Project" window.

[2017-04-19 04:27] SteadyCadence opened #135 "Move "Contact" option"
We want the QGIS plugin to focus on import/export of data.  If users need to adjust/add the contact information I think we should have them do so on the web.

[2017-04-19 04:28] SteadyCadence opened #136 "Ability to import/export Resources (photos, pdfs, etc)"
We need to discuss the options for being able to upload and/or download resources from projects.

[2017-04-19 04:39] SteadyCadence opened #137 "List of Renames/Vocabulary Adjustments"
- [x] On the main menu, let's change "Options" -->  "User Settings" or or "User Preferences" (or without the "User")
- [ ] On "Options" window, let's change "Test Connection" to "Login"
- [ ] Re-write instructions on "Help"... few spelling errors and I think we should focus on use cases... ways to set up layers, etc.  (I think we should make the current instructions intuitive in the UI)

Needs Dis

[2017-04-19 04:43] SteadyCadence opened #138 "Automate the JOIN with relationship and party layers to the location layers"
Can we automate the JOIN between the location layers and relationship table and then party table?

The JOIN will always be the same order (relationships and then parties) and the same field id.  There will need to be a little bit of logic around the "many parties to one location" and "many locations to one party" relationships.

[2017-04-19 04:53] SteadyCadence opened #139 "Clear Auth Token on Options menu. Still can access all projects."
Steps:
1. Options window: Never log in or click "Clear" on the options window
2. Click "Test Connection" and get a "URL/username/password" is empty" error message. Plus, it says "Auth token is empty".
3. Exit out of window.
4. Click "Download Project" and "Get Available Projects"
5. All projects are listed out.

Is this list cached?  Need to determine if this is an API issue or plugin issue.  It c

[2017-04-19 04:55] #139 closed, assigned to nobody

[2017-04-19 04:55] SteadyCadence commented on #139
It looks like those are public projects...

[2017-04-19 05:05] SteadyCadence commented on #129
I think we should discuss this.  I would think that there are some organizations that only want to see their projects.

It seems a bit strange to let them see all public projects without having an option to indicate if they want that.

I think we should have a checkbox, like

- [ ] Include Cadasta public projects

[2017-04-19 05:06] SteadyCadence commented on #123
I think we should remove this "Contact" option.  Its too confusing and takes away from the point of the plugin. #135

[2017-04-19 05:15] SteadyCadence commented on #138
Related to this issue, what is the recommended workflow for "Update Project" with the distinct files?

[2017-04-19 08:01] #126 closed, assigned to dimasciput

[2017-04-19 08:01] #130 closed, assigned to nobody

[2017-04-19 08:01] #131 closed, assigned to nobody

[2017-04-19 08:01] #132 closed, assigned to nobody

[2017-04-19 08:25] cchristelis commented on #138
@oliverroick could you weigh in here, please. IIRC you helped guide our current layout of the tables. @SteadyCadence are you proposing one big table with all these attributes?

[2017-04-19 08:28] cchristelis commented on #137
@SteadyCadence, on "Options" window, let's change "Test Connection" to "Login". I would like some clarity on this, as the `Test Connection` just asserts the validity of the credentials. The idea of a login is captured in the `Save`.

[2017-04-19 08:31] cchristelis commented on #137
Hi @SteadyCadence, on point 3, are you proposing we make embed the help text in the various UI components?

[2017-04-19 08:32] cchristelis commented on #136
+1 this looks like a great idea.

[2017-04-19 08:37] cchristelis commented on #135
@SteadyCadence, this does seem like a useful option for users, who are creating projects. Perhaps this is less useful on edits?

[2017-04-19 08:43] cchristelis commented on #129
I agree with @SteadyCadence, please move this to ready if we need to action on this...

[2017-04-19 08:44] cchristelis commented on #128
@dimasciput let's add the text: `Server responded with <<status code>>`

[2017-04-19 08:45] cchristelis commented on #138
I'm wondering whether the label `bug` is appropriate here?

[2017-04-19 08:47] cchristelis commented on #127
Let's do a check and return a message `Required field {{ field_name }} missing, please add before attempting again.` @SteadyCadence, could you help us with some better text here...

[2017-04-19 11:38] oliverroick commented on #138
I don't think joining the tables is a good idea. It might lead to replication of data. For example, when one party has a relationship to three locations. Following the order outlined above, you end up with three copies of the same party. When you change one of the party records it will lead to violations of the data integrity. There's no way of knowing, which one is the correct party data set.

[2017-04-19 11:38] oliverroick commented on #128
If a `400` error is returned there should be an error message describing what went wrong.

[2017-04-19 12:29] clash99 commented on #129
I think this list should only include active projects and not archived projects.

[2017-04-19 17:04] SteadyCadence commented on #138
Another option we could use is Project > Project Properties > Relations.  Using Relations could remove the data integrity issues.

<img width="1072" alt="screen shot 2017-04-19 at 11 03 05 am" src="https://cloud.githubusercontent.com/assets/25337622/25192271/d7447b66-24ef-11e7-8e85-4b7d78f554ad.png">

[2017-04-19 19:06] SteadyCadence commented on #137
Hey @cchristelis, I think if we could push the UI to look more like the proposed designs that you all included then we will not need some of the instruction included in the Help section:

![screen shot 2017-04-19 at 1 05 02 pm](https://cloud.githubusercontent.com/assets/25337622/25197299/dc42e588-2500-11e7-9329-be16cbf9cb04.png)

[2017-04-19 19:07] SteadyCadence commented on #137
For the "Login" change, I understand that "Test Connection" makes more sense when understanding the back end code.  However, I think that "Test Connection" sounds very intimidating to those that are non-technical.  I think something more common will make it easier for others to understand.

[2017-04-19 19:36] cchristelis commented on #137
@SteadyCadence, what I mean is that if we click `Save` the `Login` action is performed, so renaming `Save` to `Login` and `Delete` to log out is correct. If `Test Connection` sounds too techie, why don't we go with `Verify Details`?

[2017-04-20 07:35] #128 closed, assigned to meomancer

[2017-04-20 07:35] #127 closed, assigned to meomancer

[2017-04-20 07:42] #125 closed, assigned to dimasciput

[2017-04-20 07:42] #133 closed, assigned to dimasciput

[2017-04-20 07:42] #134 closed, assigned to dimasciput

[2017-04-20 14:42] wonderchook opened #145 "About Page"
Update the About Text to include information about who/what Cadasta is

[2017-04-20 14:45] cchristelis commented on #135
We will determine where to...

[2017-04-20 14:50] cchristelis commented on #129
# Proposed solution

Add a checkbox (default unselected) `Include all Cadasta public projects`. (This will be updated later). Users should only see projects that they can "do stuff" on.

[2017-04-20 14:53] wonderchook opened #146 "Step two of project creation wizard should have defaults"
Right now it isn't clear how to not select a Party Type, Party Name or Relationship Type which are not required. There should be a default which is not a selected field. That says "Select Column"

![image](https://cloud.githubusercontent.com/assets/67992/25236995/3ed7090c-259e-11e7-9008-c4f369e6e6d8.png)

[2017-04-20 14:54] cchristelis commented on #108
This will be solved with documentation.

[2017-04-20 15:07] cchristelis opened #147 "Checkbox when selecting include updated questionaire"
# Problem

There is a radiobutton, when creating a project, which is confusing.

# Proposed Solution

Remove the button, wich means it is always included. Add an advanced area and change the text to `Edit Questionaire Fields`

[2017-04-20 15:27] cchristelis opened #148 "Auto Download Projects"
# Problem

The user would always want to download the available projects. At the moment a button needs to be pressed.

# Proposed Solution

When the created/edit panes are opened. Do a "click" in the background. Have a throbber turn until the projects are loaded.

[2017-04-20 15:28] cchristelis opened #149 "Do not re-download projects"
# Problem

The user should not be able to re-download projects.

# Proposed solution

Grey out projects that are downloaded.

[2017-04-20 15:30] clash99 opened #150 "Project details"
Include more project details after selecting project.  Should be:

- Project Name
- Project Description
- Project URL
- Project Contacts (with ability to edit from here #135 )
- Privacy Setting (for Public/Private)

**When downloading project or updating a project, make changes to this screen:**

<img width="885" alt="screenshot 2017-04-20 09 59 01" src="https://cloud.githubusercontent.com/assets/

[2017-04-20 15:39] clash99 opened #151 "WIP: Change text on "test connection" button"
- Change button text to "Verify credentials"
- Change button text while processing to "Verifying..."
- Change second sentence at top to read 'verify credentials' in place of 'test connection'.

![test connection](https://cloud.githubusercontent.com/assets/1119621/25241672/77a7b3bc-25bc-11e7-829c-3355914ea3bc.png)

[2017-04-20 16:09] clash99 commented on #135
**- Remove Contact as top level menu item**

![contacts menu](https://cloud.githubusercontent.com/assets/1119621/25240518/a62378c4-25b8-11e7-98ce-2c3106aa9803.png)

**- Include edit contact button and put edit contact functionality in new window similar to questionnaire editing**

![edit contacts](https://cloud.githubusercontent.com/assets/1119621/25248379/afca9f04-25d3-11e7-8318-577fc5913c8b.png)

[2017-04-20 19:23] SteadyCadence opened #152 "Is it possible to force the spatial_id, party_id and relationship_id columns to be read only?"
I was updating a table and clicked on the party_id column where I accidently typed in a different value.

Does QGIS allow some columns to be READ-only in tables?

[2017-04-20 19:37] clash99 commented on #151
Leaving as-is for now, closing issue.

[2017-04-20 19:37] #151 closed, assigned to nobody

[2017-04-20 19:45] #108 closed, assigned to nobody

[2017-04-20 19:47] #137 closed, assigned to nobody

[2017-04-21 03:26] #123 closed, assigned to meomancer

[2017-04-21 08:24] cchristelis commented on #150
maybe rather call it "My Contacts", since we can't edit all the contacts that we can download?

[2017-04-21 08:28] cchristelis commented on #145
could someone please add that text here

[2017-04-21 08:29] cchristelis commented on #135
is this duplicated in #150

[2017-04-21 08:31] cchristelis commented on #129
# Proposed solution 2

Filter public projects, by downloadable ones on download and createable ones on create
.

[2017-04-21 11:43] clash99 commented on #150
You can't edit all the contacts? only add new ones?  If so, then we should call the button "Add Contacts" instead of "Edit Contacts".  Does that seem right?

[2017-04-21 11:46] clash99 commented on #135
#150 is adding the additional fields.  This one is detailing the contact editing functionality.  So definitely related.  Please organize them into one if that is easier.

[2017-04-24 06:18] #148 closed, assigned to meomancer

[2017-04-24 07:38] cchristelis commented on #151
I actually quite like this text change...

[2017-04-24 07:49] cchristelis commented on #146
could we change the `no field` option to `--------- no field ----------`

[2017-04-24 07:52] cchristelis commented on #152
It does not seem possible, like with most DB's provide permissions at the table level, not at the column level.

[2017-04-24 16:17] wonderchook commented on #145
@SteadyCadence is this something you can either write or coordinate with @bethschechter

[2017-04-24 16:31] SteadyCadence commented on #145
Sure. I can take the lead. I may use previous content from pamphlets.

[2017-04-24 18:58] wonderchook commented on #145
@SteadyCadence yes, I don't think it needs to be rewritten. There is plenty of existing content.

[2017-04-24 20:04] SteadyCadence commented on #145
@cchristelis What is the best way to provide some formatting and images?  I think it would be nice to include an image of the platform to make it clear that the web interface is where all the information gets collected and stored.

Here's the copy:

# About Cadasta

The Cadasta Foundation, a non-profit organization, is a global community of technologists and land sector experts that harness innova

[2017-04-24 20:33] bethschechter commented on #145
@SteadyCadence if you write a thing and want a review, just say the word. That said, looks like you've got what you need above.

[2017-04-25 01:34] #149 closed, assigned to dimasciput

[2017-04-25 01:48] #135 closed, assigned to clash99

[2017-04-25 01:48] #150 closed, assigned to dimasciput

[2017-04-25 02:33] #147 closed, assigned to meomancer

[2017-04-25 04:06] #145 closed, assigned to SteadyCadence

[2017-04-25 11:22] #129 closed, assigned to dimasciput

[2017-04-25 14:09] wonderchook opened #165 "Add web link to help"
Create link in Cadasta docs to link from within the help section of the plugin.

[2017-04-25 14:16] cchristelis commented on #146
Let's update the error text to read: "Location type field is required please select." Attach to field if possible.

[2017-04-25 14:19] wonderchook opened #166 "Add link to help on JSON format from Advanced "Edit Questionnaire Field""
In the advanced section of the project creation wizard there should be a link to the docs explaining what to do there and explaining the JSON format.

[2017-04-25 14:21] clash99 opened #167 "Change Add contacts button to link"
Add link below Contact Information area on left and remove button on right.

![add project details](https://cloud.githubusercontent.com/assets/1119621/25390205/74377a52-2998-11e7-9ae7-7a9c70530952.png)

All other changes looks good!

[2017-04-25 14:23] cchristelis opened #168 "Submission Log Panel"
# Problem

The submission log looks like a text box.

# Proposed Solution

Grey it out. Make the cursor a pointer.

[2017-04-25 14:35] wonderchook opened #169 "Run Tests Against Staging"
Currently tests are being run against the demo environment, they should run against staging: https://platform-staging.cadasta.org

related to #154

[2017-04-25 14:38] cchristelis commented on #166
Please specify the link

[2017-04-25 14:47] cchristelis commented on #138
@cchristelis, chat to Tim and Admire about this.

[2017-04-25 14:50] dimasciput opened #170 "Error when updating project"
[code]

[2017-04-25 15:05] #170 closed, assigned to dimasciput

[2017-04-25 20:20] wonderchook opened #172 "Download Project Wording"
"Your data have been downloaded" should be "Your data has been downloaded"

[2017-04-26 17:10] wonderchook opened #173 "Blank strings are getting translated to "None""
When uploading a QGIS layer that has attributes that are blank somehow this is getting turned to "None"

See attached sample file

[kate_made_shp.zip](https://github.com/Cadasta/cadasta-qgis-plugin/files/959213/kate_made_shp.zip)

This is then causing a parsing error on the Cadasta side.

[2017-04-26 18:51] SteadyCadence opened #174 "User Setting Login Issues :: Failed Connection and Greyed out "Clear" button"
I am trying to switch from `platform-staging` to `demo`.

# Steps

1. Head to "User Settings" and view the URL and username already loaded in the settings.
<img width="722" alt="screen shot 2017-04-26 at 12 48 39 pm" src="https://cloud.githubusercontent.com/assets/25337622/25451330/0d927bd4-2a7f-11e7-892a-01c9c8c5463d.png">

2. Fill out demo URL, username and pw-- rather anything to get the test c

[2017-04-26 18:57] SteadyCadence commented on #174
The workaround is that you HAVE to click "CLEAR" before touching any of the form fields.  This is not an ideal workflow.

[2017-04-26 19:22] SteadyCadence opened #175 "Keyboard Accessibility/shortcuts :: Ensure that all content can be accessed with the keyboard alone"
Not sure what QGIS's support with those with disabilities are, but I would like the plugin to support accessibility requirements.  You should be able to use `tab` and `enter` to go through the plugin windows.

http://webaim.org/techniques/keyboard/

[2017-04-26 19:29] SteadyCadence opened #176 "Advanced Questionnaire JSON :: Include Dev and Index for JSON"
Need to include what the abbreviations mean in the type column (GT=> geometry, S1=> select_one,IN=> integer, DT=> date, etc)

Also, need to include how to change a text field into a select_one or select_multiple with the json.

[2017-04-26 21:24] SteadyCadence opened #177 "List of "Create Project" Issues"
- [ ] Concerned about this index property.  What if you want to remove a field? Or add one?
- [ ] *After error submitting data, I am not able to go back and fix the questionnaire json (if that what may be causing the error)
- [x] *Add ability to select which fields get brought into Cadasta
- [x] *No easy way to determine which fields should be in location, party or relationship entities.  We need

[2017-04-26 22:19] SteadyCadence opened #178 "Automatically Pull in Orgs in "Create Project" window"
Similar to pulling in the projects, let's remove the "Get available organizations" button and replace it with a spinner when loading the organizations.  Most partners will only have one organization.

<img width="932" alt="screen shot 2017-04-26 at 4 07 47 pm" src="https://cloud.githubusercontent.com/assets/25337622/25459533/ef4360cc-2a9b-11e7-9574-afd000a65a3e.png">

[2017-04-26 23:15] wonderchook opened #179 "Make sure API connections are being closed"
It appears that connections are not being closed cleanly and are just timing out.

Confirm that they connections are being closed.

[2017-04-26 23:19] SteadyCadence opened #180 "Create Project :: Add GUI step for being able to choose which entity (location, party, relationship) a field goes into"
There is no way in the GUI to add fields to the party attributes. Can we add a step for being able to choose which fields go where?

[2017-04-27 15:00] wonderchook commented on #177
@SteadyCadence can you separate this out into separate issues?

[2017-04-27 15:00] wonderchook commented on #177
#173 covers the "None" issue

[2017-04-27 16:11] dimasciput commented on #177
The submission process is first upload the project information, then upload the questionnaire, then upload the locations data, then parties and attributes. If it fails in the location submission, the project and questionnaire has already been uploaded to server.

[2017-04-27 16:15] dimasciput commented on #179
I think the connection is automatically closed if the operation is finished. Could you elaborate more about connections are not being closed cleanly?

[2017-04-27 17:32] wonderchook commented on #179
@amplifi @alukach could you help elaborate on this?

[2017-04-27 18:10] SteadyCadence opened #185 "Create Project :: Add ability to select which fields get brought into Cadasta"
Users may not wish to upload all of the columns in the layer that they have in QGIS.

In the "Create Project" series of steps (after mapping the required fields), there should be a table view or list view where users can toggle on or off the column to be included in the questionnaire.

[2017-04-27 18:16] SteadyCadence opened #186 "Create Project :: Add GUI step for being able to choose which entity (location, party, relationship) a field goes into"
Technically, you can do this in the json.... we need a step to be able to choose with entity a field gets stored in.

For example, when I upload a file with "gender" information there is no way for me to make sure that gets put into the party entity.

[2017-04-27 18:17] SteadyCadence commented on #177
@dimasciput  can you elaborate on "upload the locations data, then parties and attributes".  I am unsure how to do this with the plugin.

[2017-04-28 05:53] #168 closed, assigned to dimasciput

[2017-04-28 05:54] #167 closed, assigned to dimasciput

[2017-04-28 05:56] dimasciput commented on #172
Fixed in https://github.com/Cadasta/cadasta-qgis-plugin/pull/183

[2017-04-28 05:56] #172 closed, assigned to dimasciput

[2017-04-28 08:57] cchristelis commented on #175
Hi @SteadyCadence, I think this is a great suggestion. @dimasciput, there is a tab ordering​ view in QtCreator.

[2017-05-01 15:24] alukach commented on #179
@wonderchook @dimasciput Speaking with @amplifi, it appears that I misunderstood the background of the issue. The issue was that we found a lot of lingering connections to our _database_ (rather than our web server, which I had originally assumed). This would place the blame solely on our API/front-end, as it's the only codebase that has access to our web server (to my knowledge).

Going to go ahe

[2017-05-01 15:24] #179 closed, assigned to alukach, amplifi

[2017-05-02 02:16] #169 closed, assigned to dimasciput

[2017-05-02 02:16] #174 closed, assigned to dimasciput

[2017-05-02 05:23] #146 closed, assigned to dimasciput

[2017-05-02 05:23] #178 closed, assigned to dimasciput

[2017-05-02 05:23] #175 closed, assigned to dimasciput

[2017-05-02 07:51] cchristelis commented on #175
Done in #188

[2017-05-02 07:53] #152 closed, assigned to nobody

[2017-05-02 07:54] cchristelis commented on #152
Closing since this is not possible.

[2017-05-02 16:34] wonderchook commented on #186
Is this a duplicate of #180 ?

[2017-05-02 16:39] SteadyCadence commented on #186
yep. I guess I got really excited about that option...

[2017-05-02 16:39] #186 closed, assigned to nobody

[2017-05-02 18:32] wonderchook commented on #180
This needs to be mocked up prior to work beginning. Adding to the backlog.

[2017-05-02 21:51] SteadyCadence commented on #180
@clash99 I was thinking we could have a list of the fields that are in the layer and then a few steps where the user can click which fields they want included in the location entity, then party entity and then relationship entity.  That way they can also chose not select some fields if they do not want to upload certain columns as well.

[2017-05-03 02:04] #173 closed, assigned to dimasciput

[2017-05-03 07:55] cchristelis commented on #165
Hi @SteadyCadence and @wonderchook, could we please have the link that you inted to use. We'd like to update the plugin accordingly.

[2017-05-03 14:01] amplifi opened #189 "API URLs"
For plugin release, default URL should no longer be platform-staging-api.cadasta.org -- external users should either point to demo-api.cadasta.org or platform-api.cadasta.org, respectively.

To ensure plugin queries are never directed against platform UI addresses, these should be blocked in the plugin: platform-staging.cadasta.org, demo.cadasta.org, and platform.cadasta.org

[2017-05-03 15:13] clash99 commented on #180
Will this be done in-house or by Kartoza?

[2017-05-03 21:39] wonderchook commented on #180
Let's do the design first and then decide. @clash99 @SteadyCadence let's have a call to talk about this early next week.

[2017-05-03 21:53] MappingKat commented on #165
You can use this link: https://docs.cadasta.org/en/11-qgis-plugin.html (though that is the English version).

[2017-05-03 21:54] bethschechter commented on #165
you beat me to the link @MappingKat!

[2017-05-03 22:30] wonderchook opened #190 "Org Dropdown on Create New Project needs to be sized correctly"
In the latest update is it too small and centered. Should be longer and align left

#![image](https://cloud.githubusercontent.com/assets/67992/25684298/6238ee48-3015-11e7-9231-780f469f8cf8.png)

[2017-05-04 02:37] wonderchook opened #191 "DateTime fields are not included in the JSON questionnaire schema"
When I try to uploading the attached file the locations fail, it appears because the column date_n_time isn't added to the questionnaire schema. This seems to be happening for all DateTime.

[bad-date-file.zip](https://github.com/Cadasta/cadasta-qgis-plugin/files/975117/bad-date-file.zip)

[2017-05-04 14:16] MappingKat commented on #176
We need to link the references tables from this docs to the Advanced json settings: https://cadasta.github.io/api-docs/#questionnaires

[2017-05-08 10:15] #191 closed, assigned to dimasciput

[2017-05-08 10:16] dimasciput commented on #191
@wonderchook fixed on latest PR https://github.com/Cadasta/cadasta-qgis-plugin/pull/192

[2017-05-08 10:16] dimasciput commented on #190
Fixed on latest PR https://github.com/Cadasta/cadasta-qgis-plugin/pull/192

[2017-05-08 11:31] dimasciput commented on #189
@amplifi if there will only two options, maybe change to dropdown will makes more sense. What do you think?

[2017-05-08 15:33] wonderchook commented on #190
@dimasciput still not quite right. Just needs to be moved to align left properly.

![image](https://cloud.githubusercontent.com/assets/67992/25811725/fe2b1504-33c8-11e7-959a-d0fef45f1524.png)

[2017-05-09 04:15] SteadyCadence commented on #189
A dropdown is a great idea!

The only thing is that the team will need `platform-staging` and partners should not have access to that.... Is there any way to change the drop down according to the email domain?

[2017-05-09 04:26] amplifi commented on #189
@dimasciput @steadycadence I'd suggest a dropdown for demo-api and platform-api, plus an advanced button that when clicked displays a field for you to enter a URL manually.

Alternately, we do have an is_staff field for the user accounts table, which could be used to toggle the visibility of staging-api in the dropdown, but we currently aren't setting that field anywhere and there's no UI mechanis

[2017-05-11 05:38] SteadyCadence opened #194 "Advanced questionaire edits always bring up platform errors"
Whenever I make edits to the json in the "Advanced" settings in "Create Project", I always get errors.  Can we get that tested some more?

This is not 100% related, but can we remove the index property in the json and assign that after the data is submitted.

[2017-05-11 05:46] SteadyCadence opened #195 "Project is created when data errors out"
This is a little related to https://github.com/Cadasta/cadasta-qgis-plugin/issues/194.  When there were errors in the data the project settings were created but with no data.

This means that you cannot use the same "project name" when you re-upload data.

[2017-05-11 05:48] SteadyCadence opened #196 "Multiple Windows Open For Each Step"
Every step and action ("Download","Create", "Update") brings up a new window.  Can we stick to one window that gets updated?

[2017-05-11 08:36] dimasciput commented on #196
I don't think this is a bug.

[2017-05-11 08:40] dimasciput commented on #194
What errors? Sometimes the error happens in cadasta backend.

We can, but why do we need this?

[2017-05-11 08:42] dimasciput commented on #196
We can do this but basically we will changes a lot of things. Because our structure is way different than this.

[2017-05-11 08:46] dimasciput commented on #195
Yes we cannot use the same name, because they are already uploaded. Because all the data check happening in cadasta backend, like the location type and party type. If we want this happening in the plugin, then we need to write a lot of logic from cadasta backend to this plugin.

[2017-05-12 18:24] SteadyCadence commented on #196
I think the issue is that most users dont know or expect to have all of these windows and so when they click on an action and the window is behind the main qgis dashboard then the experience acts buggy.  Essentially, the windows can get lost.

[2017-05-17 17:14] SteadyCadence opened #197 "User Settings :: Restart QGIS required for switching URLS"
I was screen sharing with a partner that forgot her password.  She kept trying different passwords and the "test connection" just failed.  No error message (we should make sure there are proper errors on the cadasta API)

She restarted her password on the web and then tried using it on the qgis plugin.  It still failed.

When a user restarts their password, it would be nice to have instruction or

[2017-05-17 20:24] wonderchook opened #198 "Error when saving session token"
An error has occurred while executing Python code:

TypeError: string indices must be integers
Traceback (most recent call last):
  File "C:/Users/Admin/.qgis2/python/plugins\cadasta-qgis-plugin\cadasta\gui\tools\widget\options_widget.py", line 193, in save_authtoken
    self.save_organizations()
  File "C:/Users/Admin/.qgis2/python/plugins\cadasta-qgis-plugin\cadasta\gui\tools\widget\options_widg

[2017-05-17 20:25] wonderchook commented on #198
@alukach are you getting the same result?

[2017-05-17 20:51] alukach commented on #198
Will test and report results.

[2017-05-18 01:46] SteadyCadence opened #200 "Download Projects :: Ability to toggle on/off archived projects (similar to public project checkbox)"
All archived projects are being downloaded when you download projects.  There are many times when that is not needed.  I think we should add a checkbox that says "Include archive projects?".

[2017-05-19 16:20] wonderchook opened #201 "Custom Attributes not being handled on location update or new location"
When a location is created or the attributes are updated they are not being updated on the server.

In looking at the code in add_new_locations in step_project_update03.py it looks like there isn't anything to handle the custom attributes.

[2017-05-22 04:11] SteadyCadence opened #202 "Unable to login on staging with proper username and password"
Not sure what's going on, but the "Clear" button isnt activating and I can't log into any of the accounts.

When I click on the "User Settings", the "https://platform.cadasta.org" url is filled in.  Nothing else.  I changed the url to "https://platform-staging.cadasta.org" and then fill out my user name and pw.  Click "Test Connection" and it fails.

The "Clear" button is never activated-- always

[2017-05-22 04:22] SteadyCadence commented on #202
Finally got `demo` to work, but not `platform` or `staging`

[2017-05-22 04:26] SteadyCadence commented on #202
Either way there are no error messages or ways to clear out what the issue is... really frustrating.

[2017-05-22 05:16] dimasciput commented on #202
I think this is because the api from the server has changed, did you test the latest build that has @alukach commits?

[2017-05-22 05:19] dimasciput commented on #202
@SteadyCadence this is the PR → https://github.com/Cadasta/cadasta-qgis-plugin/pull/154

[2017-05-22 05:52] alukach commented on #202
@steadycadence, @dimasciput, We've deployed pagination to all Cadasta API list endpoints on the staging server. This effectively broke the QGIS plugin, requiring us to merge PR #154. Currently pagination is not deployed to `platform` or `demo`. You should be able to still use the old version of the plugin with those systems. To use `staging`, you will need to install the plugin from the `develop`

[2017-05-22 06:08] dimasciput commented on #202
@alukach the login itself is fine, but in the plugin after user login and save the token there is a process that fetch the organization of the user and save it locally.

[2017-05-22 15:26] SteadyCadence commented on #202
I created a new user account, restarted QGIS and finally was able to log in.

I did get this error message:

[code]

[2017-05-22 22:50] wonderchook commented on #202
@SteadyCadence delete the plugin and reinstall or delete the pyc files in the plugin folders.

[2017-06-01 10:17] SteadyCadence opened #203 "Download Projects :: Default is to still download all public projects"
The checkbox is unchecked but all public projects are still being downloaded.

[2017-06-01 10:18] SteadyCadence opened #204 "Unable to join party and relationship tables to geometry layer :: all fields turn to NULL"
I want to be able to JOIN the party fields and realtionship fields with the location layer.  When I do that it successfully joins but all of the fields are NULL.

[2017-06-02 10:58] SteadyCadence opened #205 "Support for non-Roman language"
When you pull down a project, the table lists the "names", or keys, of the fields. That is fine for roman languages, but does not work for languages with different scripts, like hindi, arabic, etc.

We need to be able to show the label of fields in that case. Also, it looks cleaner overall.

[2017-06-02 11:02] SteadyCadence opened #206 "List of Interface Fixes"
The QGIS Plugin is very confusing for partners, especially those that are not so good with English.

We need to have more guidance for users and less windows.

* User Settings:
 - [ ] Make the URL a dropdown or select option. (can we only show staging if the user has a cadasta email?)
 - [x] Change "Test Connection" to "Connect"
 - [ ] After "Save" a partner needs guidance for what to do, can we t

[2017-06-12 01:39] dimasciput commented on #203
I just tested it, and I can't reproduce the bug. It's just pulling the private project for me, can you recheck it?

[2017-06-12 01:52] dimasciput commented on #204
I'm not quite understand with this, could you elaborate more? Thanks.

[2017-06-12 02:11] dimasciput commented on #201
We didn't handle this, I think it was not clear on requirement. I don't think this count as a bug, this will be a new feature.

[2017-06-12 02:37] dimasciput commented on #205
We haven't support non roman languages, it was never in requirement. I think this is count as enhancement feature.

[2017-06-12 09:55] gubuntu opened #208 "issues importing various packages"
My cadasta plugin on Mac OSX, QGIS 2.18, showed an error that it was more recent than the version available in the repository. So I tried to reinstall but got `This plugin is broken
cannot import name messaging`

So I restarted QGIS but then got `This plugin is broken
cannot import name QtCore`.

I'm getting it from the Kartoza plugin repo.

[2017-06-17 11:35] dimasciput opened #209 "Create project error"
I'm trying to create a project against https://platform-staging-api.cadasta.org, but I got this error

[code]

Here's the data that I use
[code]

[2017-06-19 03:41] #201 closed, assigned to dimasciput

[2017-06-19 08:03] cchristelis commented on #203
@SteadyCadence, could you please confirm that this is the case with the latest plugin. @dimasciput, could you please let us know when the plugin is updated on the kartoza repo.

[2017-06-19 09:11] gubuntu opened #211 "User settings UI and doesn't close on save"
In user settings I could save my credentials but the dialog doesn't close afterwards.

Also, the Test Connection text doesn't fit in the button.

![screenshot from 2017-06-19 11-02-50](https://user-images.githubusercontent.com/496911/27277721-775ef616-54df-11e7-86ec-87f6ca46f6b3.png)

Lubuntu 16.04, QGIS 2.18. Cadasta 1.0.0

[2017-06-19 09:13] gubuntu opened #212 "no projects available in 'download projects'"
Even when I tick 'include all cadasta public projects' the project dropdown does not get populated.

[2017-06-20 07:19] cchristelis commented on #203
Hi @SteadyCadence, could you please update your checkout of the plugin from:
`http://www.kartoza.com/en/plugins/qgis_plugin/` and confirm that this is still a bug.

[2017-06-20 09:53] #202 closed, assigned to nobody

[2017-06-20 09:58] SteadyCadence opened #214 "User Settings :: "Clear" Button does not reset"
I signed into `platform` to pull down a project.  During that same QGIS session, I also wanted to pull down a project from staging.

# Steps to reproduce
1. Sign into `platform` successfully.
2. Go back to "User Settings" and notice the "Clear" button is greyed out.
3. Fill out User Settings and the session fails.

I need to be able to hit "Clear" in order to log into another database and the clea

[2017-06-27 13:30] SteadyCadence commented on #203
Apologies for the delay.  There is still something funky going on with the "public projects" checkbox.  When I click it on, it pulls down all of the private projects I am a member to.  When it is unclicked it does not list any projects I am apart of on `platform`- public or private.

I can't test `demo` or `staging` because the "User Settings" window won't let me clear the auth token.  Being able

[2017-07-11 16:58] SteadyCadence commented on #214
Can we make the "Clear" button always active?  There is no instance where it should not be greyed out as it causes the user to get stuck without being able to change the URL, password, or username.

[2017-07-11 17:07] wonderchook opened #217 "Unchecking All Public Projects Still Loads Public Projects"
Steps to reproduce

1. Download your projects
2. Check "Include all Cadasta Public Projects"
3. All Public Projects are downloaded
4. UnCheck "Include all Cadasta Public Projects"
5. All Public Projects are still downloaded

![image](https://user-images.githubusercontent.com/67992/28080374-a9f430f8-6620-11e7-92a6-238c61973f21.png)

[2017-07-11 18:12] SteadyCadence opened #218 "Download Projects :: For public projects, only download location layer (and NOT the relationship table)"
For public projects, users only have the ability to view location geometries and information.  At the moment, the relationship table/csv is also being downloaded.  Those tables are empty.  We should remove those files from being downloaded

Location and Relationship tables download:
<img width="730" alt="screen shot 2017-07-11 at 12 00 35 pm" src="https://user-images.githubusercontent.com/25337622

[2017-07-11 18:13] SteadyCadence commented on #197
Another related issue:
1.  I created a new account in Cadasta.
2. Signed in on that account.
3. The User Setting worked fine and I successfully Connected and Saved.
4. When I went to pull down all of the public projects from the new account, the projects from my previous account were pulled down instead.

This may be a security concern if a project manager has logged in on an office computer with

[2017-07-13 22:13] SteadyCadence opened #219 "Code Refactor :: Set width of windows responsively; not manually setting text lengths"
Is there a way to responsively set the width of the QGIS window and then be able to write the text without have to write new lines?

In other words, why are we creating the lines of text manually?

<img width="710" alt="screen shot 2017-07-13 at 4 11 35 pm" src="https://user-images.githubusercontent.com/25337622/28190018-1e52865e-67e6-11e7-9b8a-eb8721db980c.png">

[2017-07-13 22:19] wonderchook opened #220 "Columns that have been joined should not upload to the Location End Point"
When a user joins the relationship and the parties table to locations then the relationship and parties information is submitted through the api to the location. This casues the following issue:

TypeError at /api/v1/organizations/chickenville/projects/kate-magical-test-file-2/spatial/
{'have_int': '4', 'name': 'blah blah blah', 'have_dec': '2.100000', 'fake-date': '2017-01-01', 'chickenville/kate

[2017-07-13 22:31] SteadyCadence commented on #166
https://cadasta.github.io/api-docs/#questionnaires

[2017-07-13 22:40] #165 closed, assigned to SteadyCadence

[2017-07-14 19:01] #219 closed, assigned to nobody

[2017-07-14 19:10] SteadyCadence opened #221 "Update/Create Project :: Unable to scroll up to view error messages on log when submitting data"
When a user submits data (via "Upload" or "Create" project) and there is an error message at the beginning of the data submission, the user is unable to scroll up to view what the error message said.

The scroll bar is fixed to the bottom of the logs.

![image](https://user-images.githubusercontent.com/67992/28227119-77be5f40-688d-11e7-96e0-904bbf956fb1.png)

We love that the logs no longer look l

[2017-07-14 19:12] SteadyCadence commented on #212
@gubuntu Which URL were you using? There may not have been public projects available on that URL or it may be related with the public project bugs (#217).

[2017-07-14 19:14] SteadyCadence commented on #203
There is still something going on with the public projects check box (ie #217).  I am not sure if this issue is still occurring or if it is something else.

[2017-07-14 19:14] #203 closed, assigned to dimasciput, SteadyCadence

[2017-07-14 19:32] SteadyCadence commented on #209
@oliverroick @alukach Do you know if this has been fixed?  If so, let's close it out.  Otherwise can we move it to the cadasta repo?

[2017-07-17 10:19] oliverroick commented on #209
Haven't looked into that. Probably best to create a ticket in the main repo.

[2017-07-19 02:01] SteadyCadence opened #222 "Create Project :: Contacts have two defaults listed-- no way of removing; not sure if API or QGIS bug"
When I was creating a project, these two contacts showed up.  I could not remove them.

(_Image removed for security_)

@wonderchook have you had anything like this on staging show up?

[2017-07-19 02:03] SteadyCadence opened #223 "QGIS Create Project :: Not allowing for custom location_type values"
I edited the json in the "Create Project" step and am still getting an error about the choices-- even though I edited the json to allow for that choice...

Not sure if this is API or QGIS issue.
<img width="821" alt="screen shot 2017-07-19 at 4 58 06 am" src="https://user-images.githubusercontent.com/25337622/28347403-81db0e64-6c3f-11e7-922a-64a9f1bdc0d7.png">

@wonderchook, could you take a look?

[2017-07-19 02:30] SteadyCadence opened #224 "(WIP) Create Project :: Remove "Hardcoded Json" Text in Advanced JSON editing settings"
There are a few instances where there seems to be some json hard coded into the "create project" submission.

<img width="311" alt="screen shot 2017-07-19 at 5 22 40 am" src="https://user-images.githubusercontent.com/25337622/28348019-5afb2a96-6c43-11e7-890a-7a30596ca60a.png">

Index? Can that be assigned after the json submission?

[2017-07-19 07:18] SteadyCadence opened #225 "Create Project :: Allow user to add a default value for required fields during submit data process"
At the moment, it is required to match a field with a required Cadasta field. Could we have another option where users can fill out a default value if they do not have a field to match?

<img width="877" alt="screen shot 2017-07-19 at 10 17 45 am" src="https://user-images.githubusercontent.com/25337622/28355177-8d47d314-6c6b-11e7-999b-421ad6ec2f7b.png">

[2017-07-19 07:29] SteadyCadence opened #226 "Create Project :: Support/Wizards for reprojecting CRS so that layer can successfully be uploaded into Cadasta"
Still figuring this one out.  Many partners use UTM Zones for their layers and I cannot get the layer to upload successfully when I reproject it on the fly...

[2017-07-19 07:38] SteadyCadence commented on #226
1. I projected a point layer on the file (I can send to you if you need it) and it looked great in QGIS.
2. I successfully used the "create project" wizards to submit the data
3. No errors. Successful.
4. No locations show up when I view the project--> https://platform-staging.cadasta.org/organizations/vsf-testing/projects/onemore-time/records/locations/

<img width="574" alt="screen shot 2017-07-

[2017-07-19 11:39] amplifi commented on #222
@SteadyCadence Are those actual user contact details, or test values? If the former, can we edit them out of the image?

[2017-07-19 15:55] wonderchook commented on #222
I suspect the issue is those contacts are being stored locally and not being removed. Could you try deleting the plugin and reinstalling to see what happens?

[2017-07-19 15:57] wonderchook commented on #226
What type of file were you starting with a CSV? You might need to convert it to GeoJSON or SHP and then try. (Not saying it is not a bug thinking it is a workaround)

[2017-07-19 20:53] dpalomino commented on #223
Hey @SteadyCadence!

I saw this issue as well. I think it's related to having custom tenure_type or location_type choices.

![screen shot 2017-07-17 at 17 38 28](https://user-images.githubusercontent.com/17198051/28388857-60cca328-6cd4-11e7-94e7-f150e4cc34a3.png)

Maybe an API issue? In that example OT and EP were location types.

[2017-07-19 21:02] dpalomino commented on #225
I agree with @SteadyCadence, that would be really useful.

[2017-07-19 23:16] dpalomino opened #227 "500 when creating a project with select_multiple fields"
### Steps to reproduce the error

1. Open these shp files with QGIS:
[itc-f-cadaster-community-form.zip](https://github.com/Cadasta/cadasta-platform/files/1160494/itc-f-cadaster-community-form.zip)
2. Create a new project in Cadasta importing the Polygon layer
3. We get a 500 error

![screen shot 2017-07-19 at 23 09 17](https://user-images.githubusercontent.com/17198051/28389908-4296aa58-6cd8-11e7

[2017-07-20 04:17] dimasciput commented on #220
@wonderchook I don't really understand this, could you upload your shp file?

[2017-07-20 05:51] SteadyCadence commented on #223
Its not an API bug. The values are hard coded in on the plugin side.

Kartoza team, the location_type and tenure_tyoe fields can have custom
values so we need a way for those values to be dynamically populated or for
the user to be able to list the values (instead of match it up with a
column in the layer's table).

I think a text box that asks the user to list the values of the
location_type may

[2017-07-20 07:22] dimasciput commented on #227
@dpalomino strange, I can upload the crop attribute. Here's the result:

![screen shot 2017-07-20 at 2 21 58 pm](https://user-images.githubusercontent.com/1979569/28405295-e52c92b8-6d56-11e7-885f-5646d7ec3adb.png)

[2017-07-20 07:33] dimasciput commented on #223
Could you copy here the json you edited?

[2017-07-20 08:29] cchristelis commented on #220
@dimasciput and @wonderchook perhaps we could filter any fields wich have `relationships_` or `parties_`, since these will be the default prefixes added to the columns?

[2017-07-20 08:34] cchristelis commented on #220
another aproach would be to handle the exception, which seems to be on the object? or string? of the join coumn. (Will have to see more of the stack trace). That could possibly add the relationship for the next user, who downloads the project. But it would add useless data for the user who doesn't use QGIS...

[2017-07-20 08:43] SteadyCadence commented on #220
@dimasciput
1. Take any project that has party and location information and download it in QGIS.
2. Then join (Properties < Join) the relationship table with location table.
3. Edit the location table (you can only edit fields in the original file)
4. Using the cadasta plugin, click "update project".  The update project steps will want to submit the joined fields and you will get an error about in

[2017-07-20 08:50] SteadyCadence opened #232 "Use master branch as main branch for QGIS plugin repo"
The plugin is in the QGIS repo!  Woot woot!

However, there are some text changes that I added-- namely "Test Connection" to "Connect" and the help docs.

[2017-07-20 16:34] wonderchook commented on #223
@SteadyCadence then how is the server sending back a 400 error? Do you mean it is hardcoded for when the questionnaire is created?

[2017-07-21 03:09] dimasciput commented on #220
Hi @wonderchook,

This PR https://github.com/Cadasta/cadasta-qgis-plugin/pull/233, will only fix this issue.

Can we not join the table for this? Because this plugin is not built with joined table in mind. This will introduces a lot other issues. Even the first mockup doesn't have split table.

[2017-07-21 14:36] dpalomino commented on #227
Hi @dimasciput. Sorry for the delay, I'm traveling.

I can reproduce it, can you please check this video?
https://screencast.com/t/5XlBzoNINm

I am using this project for testing:
https://platform-staging.cadasta.org/organizations/david-org/projects/itc-f-cadaster-community-form/

As far as I see, there is nothing really special in those locations. I think it's failing because of the select_multip

[2017-07-21 14:50] wonderchook commented on #220
@dimasciput people are going to have to join the tables to do analysis. They don't need to upload the joined tables.

[2017-07-25 18:11] SteadyCadence commented on #221
@dimasciput Can you please use the "needs testing" label before you close the issue?  I want to be able to make sure it is good to go and tested by someone on our team.

I can change the name of the label if you prefer.  Thank you!

[2017-07-25 19:14] SteadyCadence commented on #232
@dimasciput can you write out your workflow?  I want to be fast at testing out fixes and need to know how you are working.

Are you working on the `develop` branch and then updating that to the QGIS main repo?

Can we merge everything to the `master` branch and push that up.  I want `master` to be the main branch we use.

[2017-07-25 19:19] SteadyCadence commented on #189
@dimasciput @cchristelis What does the label "ready" mean?

I want to know what the status of this is?  It has not been implemented but is it going to be added?

[2017-07-26 16:28] dpalomino commented on #227
@dimasciput, any update on this? Thanks!

[2017-07-27 07:07] SteadyCadence commented on #214
The "Clear" button is much better, but that clear button does not reset a Failed login. See video:
![login-issues](https://user-images.githubusercontent.com/25337622/28658316-558dcd36-72b3-11e7-9f04-50c1422082fb.gif)

[2017-07-31 10:22] oliverroick commented on #227
I tried to reproduce this; it uploads as expected.

@dpalomino we need more detailed information on how you got to this error. Here's what I did:

1. Join `locations.csv` to `polygon.shp` (I had to change the values of `type` in `locations.csv` to one of the standard types because the plugin doesn't support custom location types)
2. Select Vector > Cadasta > Create Project
3. In step 2, select `lo

[2017-08-02 19:29] SteadyCadence commented on #232
Can someone on Kartoza write down the process they are using for fixing bugs and publishing to the QGIS plugin?

It looks like `develop` is the only branch being worked on.  I would like to make some changes to the code base and want `master` to be the final branch.

[2017-08-02 20:05] SteadyCadence commented on #220
@dimasciput do you need anything from me?  Do you understand the issue?

[2017-08-03 01:36] dimasciput commented on #220
Hi @SteadyCadence , I think already fixed this issue with this PR https://github.com/Cadasta/cadasta-qgis-plugin/pull/233

[2017-08-03 01:37] dimasciput commented on #227
@dpalomino I also managed to upload the layer, maybe try the latest version?

[2017-08-03 01:38] dimasciput commented on #214
@SteadyCadence ah ok, I will remove the `Failed` message

[2017-08-03 01:54] dimasciput commented on #214
@SteadyCadence please check from the develop branch again, I have updated the develop to fix this issue

![cadasta](https://user-images.githubusercontent.com/1979569/28902495-62263ef4-7829-11e7-8fd4-5c98582e3f4b.gif)

[2017-08-03 01:56] dimasciput commented on #205
We have fixed this in this PR - https://github.com/Cadasta/cadasta-qgis-plugin/issues/213

@SteadyCadence, Can you test it again, and update this issue? Thanks

[2017-08-04 15:55] cchristelis commented on #204
This might be a QGIS issue?

[2017-08-04 15:59] cchristelis commented on #190
ping @dimasciput

[2017-08-04 16:03] cchristelis commented on #232
Let's start tagging as we release to the plugin repository.

[2017-08-04 22:01] SteadyCadence opened #235 "Auto-close windows when completed (ie data download or submitted)"
Some partners do not realize that they need to close the windows when the data has downloaded. They assume that it will close when it is done.

I think we should auto-close the windows when the data has been downloaded and/or submitted.

[2017-08-04 22:27] SteadyCadence opened #236 "Use field name for column headers (not full path name)"

[2017-08-05 02:53] SteadyCadence opened #237 "Remove organization from layer name"

[2017-08-05 02:57] SteadyCadence commented on #194
I am going to divide this topic into two issues: (1) cleaning up the parameters that we have listed in the json and (2) making sure that certain scenarios are supported with the create project step.

[2017-08-05 02:58] SteadyCadence opened #238 "Update or remove text to prevent confusion from partners"
There are a few sentences that can use some re-writing.  I will work on this.

Update order of json-- type, name, label, relevant

[2017-08-06 04:04] dimasciput commented on #190
Tested in Windows 10 with latest cadasta build :
![qgis](https://user-images.githubusercontent.com/1979569/29000496-e5f35c02-7a96-11e7-990e-e8eb65cd6129.PNG)

[2017-08-07 01:49] SteadyCadence commented on #197
I got sidetracked on Friday with the work. I'll test everything tomorrow
and finish cleaning up the issues.

On Fri, Aug 4, 2017 at 10:17 AM cchristelis <notifications@github.com>
wrote:

--

[image: Cadasta Logo] [image: Grey Divider] Katrina Engelsted
Field Program Support Technologist
+ 1 774 239 8699
Skype: katrina.engelsted | Cadasta.org <http://cadasta.org/>
<https://twitter.com/CadastaOrg>

[2017-08-07 08:07] cchristelis commented on #166
@SteadyCadence should we add the word "help" with a hyperlink or maybe an info `i` or a `?`?

[2017-08-07 15:59] SteadyCadence commented on #166
Maybe a `?` and when you hoover over the question mark it says: "Data Schema Help".

[2017-08-07 20:03] SteadyCadence commented on #190
Dimas, are you using your machine for that testing or browser stack?

[2017-08-07 20:21] #221 closed, assigned to dimasciput

[2017-08-07 20:27] SteadyCadence opened #239 "Smart Messaging when downloading projects"
In the future, we should have some messaging in cases where there is no geometry in the projects (or location attributes), or no parties/relationships.

[2017-08-07 20:59] SteadyCadence commented on #214
I think that this can be closed as the clear button does reset.  And this is solving the forgotten password problem that partners run into.

There does seem to still be an issue when you click "Clear" when trying to change the URL.  Steps to repeat:

1. Edit the URL (`demo` from `platform`)
2. Enter in username and password
3. Hit "Submit"
4. Enter URL and username/password and login still fails.

[2017-08-07 20:59] SteadyCadence commented on #205
Can you explain what solution you used?  I am not sure what I should be testing?

[2017-08-07 21:00] #218 closed, assigned to dimasciput

[2017-08-08 00:35] #237 closed, assigned to nobody

[2017-08-08 02:44] dimasciput commented on #205
@SteadyCadence we can create a project with non-roman language :
<img width="959" alt="screen shot 2017-08-08 at 9 43 48 am" src="https://user-images.githubusercontent.com/1979569/29054107-24926e34-7c1e-11e7-8aaf-73328fa215e0.png">

[2017-08-08 02:45] dimasciput commented on #190
@SteadyCadence I'm using my machine

[2017-08-08 03:12] dimasciput commented on #214
It works for me

![cadasta](https://user-images.githubusercontent.com/1979569/29054717-ff6c5fe4-7c21-11e7-8151-60386a0a78b7.gif)

[2017-08-08 04:19] dimasciput commented on #166
@SteadyCadence
![cadasta](https://user-images.githubusercontent.com/1979569/29056188-6ab35f9c-7c2b-11e7-91ce-4d3f36e1b004.gif)

[2017-08-08 07:33] dimasciput commented on #235
Updated in https://github.com/Cadasta/cadasta-qgis-plugin/pull/241

[2017-08-08 21:18] #236 closed, assigned to nobody

[2017-08-08 21:31] SteadyCadence opened #242 ""Create Project" and "Update Project" Scenerios for Testing"
- [ ] **Ability to insert fields in the json schema**: A partner has a layer with partial data. They want to create a project, import data and also add more fields that they will need in the future.
- [ ] **Ability to remove fields in the json schema**: A partner has a layer with data that they do not want to include, such as ids. They should be able to remove the property from the JSON schema.
-

[2017-08-09 02:15] dimasciput commented on #242
It means that user want to add custom data per location? You will need to create a new user interface, because currently these wont be possible. We choose one column data for all location :

<img width="889" alt="screen shot 2017-08-09 at 8 58 58 am" src="https://user-images.githubusercontent.com/1979569/29102115-0fafba58-7ce1-11e7-88dd-54010c8a5364.png">

And after selecting the layer, do they ne

[2017-08-09 02:47] dimasciput commented on #242
@SteadyCadence @wonderchook @cchristelis

[2017-08-09 04:25] SteadyCadence commented on #242
These are scenarios in which we should eventually support.

The first two should be supported.  I have tested them and sometimes still run into errors.

I can do more testing tomorrow and write down what errors occur into separate issues.

[2017-08-09 17:17] SteadyCadence opened #243 "Remove index and constraint from json properties in "create project""
I want to keep the json schema as simple as possible.  We can remove "index" and "constraint" from the field objects.

Also, please remove this "title" field that shows up on all new projects:
[code]

[2017-08-10 02:31] dimasciput commented on #243
@SteadyCadence If I remove index in questionnaire then I get this error message :
[code]

[2017-08-10 07:12] oliverroick commented on #243
`index` is required for all questions, question groups and options.

[2017-08-10 10:21] dimasciput commented on #243
I remove the index from the advanced view, the index will be added before the questionnaire uploaded.

[2017-08-10 18:16] SteadyCadence commented on #243
Perfect, @dimasciput!  I think that works better-- to have the index added after the questionnaire has been edited.

Thank you!

[2017-08-11 02:36] SteadyCadence commented on #235
The auto-close works well!

However, it seems that the "Close" button is greyed (de-activated) out now. It never seems to activate. Should we just remove it?  Or can we get it to activate again?

[2017-08-11 02:50] SteadyCadence commented on #166
The link works great. I am not sure that the "?" looks like a link to most users.

Let's move the link to the Questionaire Page (on top) and have it say "Data Schema Help" (instead of the "?").
![Screen Shot 2017-08-10 at 8.45.49 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5984ee90306630001f9a6908/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6455f

[2017-08-11 03:58] SteadyCadence commented on #243
Looks much cleaner.  Could you also remove this field:   ```{
            "relevant": null,
            "name": "title",
            "hint": null,
            "default": null,
            "required": false,
            "label": "Cadasta Platform - UAT Survey",
            "type": "NO"```
This field is really only for ODK and it is not needed.

[2017-08-11 03:59] #205 closed, assigned to dimasciput

[2017-08-11 03:59] #214 closed, assigned to dimasciput

[2017-08-11 04:00] #194 closed, assigned to SteadyCadence

[2017-08-11 04:08] SteadyCadence commented on #243
I am not sure how the index is being signed. When I tried to add a custom field, I got a 400 error about the index.
![Screen Shot 2017-08-10 at 10.06.46 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5984ee90306630001f9a6908/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6455f36b7191a379ef0c2b57415b48bc21254d58eeb9cb74fce36f34985619e8d9685877906814abbf

[2017-08-11 06:16] dimasciput commented on #166
@SteadyCadence

Updated
![screen shot 2017-08-11 at 1 06 37 pm](https://user-images.githubusercontent.com/1979569/29202965-38892b28-7e97-11e7-903f-0a7d21bf8fc7.png)

[2017-08-11 06:17] dimasciput commented on #243
@SteadyCadence Can you copy paste your json here.

[2017-08-11 06:25] dimasciput commented on #235
The close button is still active in create project :
![screen shot 2017-08-11 at 1 24 13 pm](https://user-images.githubusercontent.com/1979569/29203113-6f1be792-7e98-11e7-836c-a522aaeda138.png)

[2017-08-14 05:50] dimasciput commented on #197
@SteadyCadence can you test this again on the latest build?

[2017-08-14 06:06] dimasciput commented on #220
@SteadyCadence have you tested this?

[2017-08-16 03:54] SteadyCadence commented on #235
Ah interesting. In the Download Project, it is greyed out but still works.  Can you fix the Download Project "Close" button to be active?  Then this issue is ready to go.
![Screen Shot 2017-08-15 at 11.53.29 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5984ee90306630001f9a6908/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b772b6455f66b7191a379ee0c2e52415

[2017-08-16 06:33] dimasciput commented on #235
@SteadyCadence updated (https://github.com/Cadasta/cadasta-qgis-plugin/pull/250). Please try again.

[2017-08-21 07:52] dimasciput commented on #243
@SteadyCadence are you still having this issue?

[2017-08-21 07:54] dimasciput commented on #235
@SteadyCadence can you test this issue?

[2017-08-21 23:37] SteadyCadence commented on #235
I'm still getting a greyed out close button.

[2017-08-22 15:03] SteadyCadence commented on #235
It seems to work for some instances and not others. I am not sure if its the different URLs (demo versus staging) or the different projects.

[2017-08-22 15:05] SteadyCadence opened #251 "Only location layer downloads for a private project that I am an owner to"
I need to dive in more, but I have a private project and when I download it in QGIS it only downloads the location layer (and not the party and relationship layer).

There seems to be something going on with public versus private projects. If I am an administrator to any project, I should always be able to see the party and relationship data-- even if that project is public.  We may need to look a

[2017-08-23 04:26] dimasciput commented on #235
What do you mean by others? Have you update your plugin?

[2017-08-23 04:27] dimasciput commented on #243
@SteadyCadence have you got any chances to review this?

[2017-08-23 09:41] dimasciput commented on #251
I added a new check, if the downloaded project is a public project then the plugin will call organization api to check whether the logged in user is a member of the organization or not, if the user is then it will downloads relationship and party layer.

[2017-08-23 15:14] SteadyCadence opened #254 "Add password astericks when the auth token is saved"
The URL and username are saved when the auth token is saved. We should be consistent and have the password also filled in with astericks.  That removes confusion from users.

I will also work on updating the wording so that it is more clear.

[2017-08-23 15:36] dpalomino commented on #227
@dimasciput @oliverroick

@dimasciput, sorry about the delay, I've been on holidays. I will be retesting this with the last version shortly. I will keep you posted.

[2017-08-23 15:48] SteadyCadence commented on #251
ok that logic sounds good.  Ill try to test this one.

[2017-08-23 15:51] SteadyCadence commented on #197
I was able to reproduce this one again.  What happens is if a user does not hit "Clear" then and they fill out their username and password, those new usernames and passwords don't get saved if the auth token has been cached from the previous user. They may think that they have logged in but the User Settings is still using the token from the previous user.

Is there a way to set up the User Settin

[2017-08-24 01:45] dimasciput commented on #254
I don't think filled in password is a good idea for security purpose, we didn't store the password, we just store the username. We could add the asterick.

[2017-08-24 01:45] dimasciput commented on #254
@SteadyCadence

[2017-08-24 02:15] SteadyCadence commented on #190
I do not have a way to test this.  I'll have to ask the team... I'm not sure what tool we could use to do more testing. Are there any that work with QGIS machines?

[2017-08-24 02:22] #235 closed, assigned to dimasciput

[2017-08-24 02:23] #197 closed, assigned to SteadyCadence

[2017-08-24 02:45] dimasciput commented on #197
@SteadyCadence I disabled the username and password input if user didn't click the button, here's the gif :

![kartoza](https://user-images.githubusercontent.com/1979569/29647003-f7aab990-88b0-11e7-834b-4986e56672b8.gif)

[2017-08-24 03:06] dimasciput commented on #190
QGIS is works in linux, windows and mac. https://www.qgis.org/en/site/forusers/download.html

[2017-08-24 03:13] SteadyCadence commented on #166
I think that'll work for now.  We may want to make it more obvious as a link.

@clash99, the "data schema help" is a link to the documentation. Any recommendations to make it look better?

[2017-08-24 03:14] #220 closed, assigned to dimasciput

[2017-08-24 03:18] SteadyCadence commented on #243
I don't seem to get that error so I think its fixed.

[2017-08-24 03:18] #243 closed, assigned to dimasciput

[2017-08-24 03:27] SteadyCadence opened #256 "Update Project is not permitted with multiple_select choices"
Not sure if this is a QGIS bug or API one.

This is the logs:

[code]

[2017-08-24 03:42] dimasciput commented on #256
Could you upload the project data and the questionnaire

[2017-08-24 03:45] SteadyCadence opened #257 "Tenure Type 400 errors"
I keep getting 400 errors about `tenure_type` when I update or create projects.  Tenure type and location type are required fields but have dynamic custom fields, so I am not sure if maybe the hard coded values in the plugin are causing the issues... or if its an API bug.

Error 400 : {"tenure_type": ["'CO' is not a valid choice for field 'tenure_type'."]}

[2017-08-24 05:36] dimasciput commented on #257
I tried to update with CO value for tenure_type and it's working fine, could you maybe upload your project data with the questionnaire? @SteadyCadence

[2017-08-24 21:35] clash99 opened #258 "Updates to plugin details"
I'm putting these two page updates together since they are so similar.

Changes to the plugin detail in QGIS and QGIS repository:

- [ ] Remove "Cadasta QGIS plugin:"
- [ ] Update tags
- [ ] Update home page link
- [ ] Update (or confirm) author and maintainer information
- [ ] Update links to plugin home page and repository links

![plug-in details](https://user-images.githubusercontent.com/11196

[2017-08-24 22:17] clash99 opened #259 "User setting changes"
Changes to user settings page:

- [ ] Update top messaging
- [ ] Change "Cadasta instance url" label to "Cadasta url"
- [ ] Change Cadasta url field to dropdown with "other" option that provides a text input field if selected
- [ ] Add "Go" button following instance url (serves to clear fields below upon url change)
- [ ] Disable username, password, and connect button until url is selected and "Go

[2017-08-24 22:22] clash99 opened #260 "Download project changes"
Changes for download project page:

- [ ] Remove wizard steps and make this a single window (only 1 step and autoclose download status window)
- [ ] Hide project-related fields until project has been selected from the project dropdown
- [ ] Change buttons to 'Cancel' and 'Download'. Download button is disabled until a project has been selected
- [ ] Replace second (current wizard) page with small

[2017-08-29 07:59] cchristelis commented on #242
Each of these scenarios should be followed up in their own tickets. Closing for now.

[2017-08-29 07:59] #242 closed, assigned to nobody

[2017-08-29 08:35] cchristelis commented on #257
Closing this as CNR.

[2017-08-29 08:35] #257 closed, assigned to nobody

[2017-08-29 08:43] cchristelis commented on #224
fixed by #249

[2017-08-29 08:43] #224 closed, assigned to nobody

[2017-08-29 08:45] cchristelis commented on #212
CNR

[2017-08-29 08:45] #212 closed, assigned to nobody

[2017-08-29 12:07] amplifi commented on #254
@dimasciput Agreed; we should not be storing or caching user passwords anywhere.

[2017-08-29 14:39] #232 closed, assigned to dimasciput

[2017-08-29 20:34] SteadyCadence commented on #259
Hey @dimasciput and @cchristelis!

The big issue I am running into with partners is confusion around the User Settings.  I think that the recommendations that Chandra is made here would GREATLY help partners-- particularly the dropdown for the URL.

Could you let me know if all of these changes are possible? If not, are there any workarounds?

[2017-08-31 04:28] SteadyCadence opened #261 "Poor Accessibility: In User Settings, when I click "Enter" it clears the username and pw fields I filled out"
After a user enters their username and password, the enter button seems to use the "clear" actions.

We should change it so that "Connect" is what is clicked with "Enter".

[2017-08-31 04:40] SteadyCadence commented on #256
Hey @dimasciput, could you tag me in replies? I dont see them otherwise.

The project can be found here: https://demo.cadasta.org/organizations/cadasta-demo-organization/projects/smallholder-farmers-india/

I have given your `dimasciput` username access to that project.  You can download the data in QGIS and see in the attribute table of the location layer the format that is provided.

[2017-08-31 04:44] SteadyCadence commented on #254
I agree.  Let's just put in 10 astericks or something.

In other news, I like the greyed out fields when the username and password are stored.  Looks great!

[2017-08-31 04:45] SteadyCadence commented on #227
I think this is related to #256.  I am going to close this for the time being because we could not reproduce the issue.  If it happens again we can re-open.

[2017-08-31 04:45] #227 closed, assigned to nobody

[2017-08-31 04:48] SteadyCadence commented on #209
@oliverroick I wonder if its the dash in the telephone number... and the sanitation doesnt like that?  Should we close this? Do we think it worked itself out....? :)

[2017-08-31 04:49] SteadyCadence commented on #208
@gubuntu where you able to get the plugin installed?

@dimasciput is the plugin using dependencies like QtCore?

[2017-08-31 04:50] #176 closed, assigned to SteadyCadence

[2017-08-31 15:25] SteadyCadence commented on #251
@dimasciput Was this code merged into master? If so, we can move this to "Done".

[2017-09-01 04:11] SteadyCadence opened #262 "Download Project :: Not downloading all fields-- only ones with values"
I used the API to do an import of data for a project.

This is what the data looks like in Cadasta:
![screen shot 2017-08-31 at 10 09 32 pm](https://user-images.githubusercontent.com/25337622/29955014-470be214-8e99-11e7-8b94-3369aff74681.png)

And this is what it looks like with the plugin:

![screen shot 2017-08-31 at 10 08 58 pm](https://user-images.githubusercontent.com/25337622/29955022-52d10a

[2017-09-03 21:20] cchristelis commented on #190
This issue has been solved in other tickets, hence closing.

[2017-09-03 21:20] #190 closed, assigned to dimasciput

[2017-09-06 14:43] SteadyCadence commented on #262
I think this is an API bug. I am adding it to the Cadasta platform issue list.

[2017-09-06 14:43] #262 closed, assigned to nobody

[2017-09-06 17:34] SteadyCadence opened #263 "Translated labels and values available in QGIS"
The questionnaire supports many languages with the XLS Form's label features.

At the moment, the only data that is being pulled and pushed with the QGIS plugin is the "name" columns, which are forced to be Roman characters.

The QGIS plugin should be able to display the multiple languages (of the fields and values) that are stored in Cadasta.

Example project:

https://platform-staging.cadasta.or

[2017-09-06 17:59] alukach commented on #263
Some thoughts and concerns about solutions:

1. I think it's best to do this on QGIS' side. Translation on the API side sounds nice at first blush, however I'm uncertain if there is any guarantee that labels don't conflict between questions (there may be). This would mean that the JSON response could have an object with repeating keys, which I don't believe is valid JSON.
2. With whatever solution

[2017-09-13 16:18] SteadyCadence commented on #251
Project managers do not seem to have access to their projects' party and relationship tables.

[2017-09-13 16:35] SteadyCadence opened #264 "Partner is unable to download project fully on Windows machine (QGIS 2.18.0)"
I have no idea how to test this or figure out what is going, but a partner is trying to test some data and when he goes to download the project the download is stuck on the party layer.

Seems to work fine on Macs, but is not working for Windows 10 machines.

DM me and I can add send you the project URL and username and pw.

[2017-09-13 16:37] SteadyCadence commented on #264
Also, 2.16.2 the party data is not downloading and therefore the data cannot be viewed.

[2017-09-14 01:12] dimasciput commented on #251
is this only happening on windows machine?

[2017-09-14 17:33] SteadyCadence commented on #251
Yes, I think so.

[2017-12-07 22:56] MappingKat commented on #223
I am running into this issue again. The location_type seem to be hard coded somewhere because it won't accept new values when I write it in json in the "Advanced" setting.

[2017-12-07 22:56] MappingKat commented on #223
Here is example json for the location type that I would like to use:

[code]